/*
Responsive HTML Table With Pure CSS - Web Design/UI Design

Code written by:
👨🏻‍⚕️ Coding Design (Jeet Saru)

> You can do whatever you want with the code. However if you love my content, you can **SUBSCRIBED** my YouTube Channel.

🌎link: www.youtube.com/codingdesign 
*/


#player_table,
#transactions {
    margin-bottom: 20px; /* Add margin between tables */
    
}

#props,
#logs {
    margin-bottom: 20px; /* Add margin between tables */
    
}

body {
    margin:0;
    padding:10px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #222246;
    background-image: url('images/board_canva.png');
    background-size: contain; /* Ensure the background image covers the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    position: relative;
}

@media print {
    .table, .table__body {
     overflow: visible;
     height: auto !important;
     width: auto !important;
    }
   }

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}



/* containers */

.container_board {
    /* background-color: rgba(135, 207, 235, 0.464); */
    /* left: 27%; */
    width: 97vh;
    height: 97vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 50%; */
}

.container_middle {
    /* background-color: rgba(135, 207, 235, 0.464); */
    margin: 22vh auto;
    width: 28vw;
    height: 30vh;
    position: relative;
    text-align: center;
    border-radius: 50%;
}

.container_right {
    display: flex;
    flex-direction: column;
    float:right;
}

.container_left {
    display: flex;
    flex-direction: column;
    float:left;
}

.center {
    /* background-color: rgba(135, 207, 235, 0.464); */
    position: absolute;
    width: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    color:#f1f1f1;  
    
  }

/* icons */
.icon {
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    width: 5vh;
    height: 5vh;
    background-color: rgb(255, 62, 249); 
    border-radius: 50%;
    box-shadow: 0.4vh 0.4vh rgb(158, 7, 153), 0.8vh 0.8vh 0.8vh rgba(0, 0, 0, 0.557);
}

.eyes {
    position: relative;
    top: 1vh;
    display: flex;
}
.eyes .eye {
    position: relative;
    width: 2.2vh;
    height: 2.2vh;
    display: block;
    background: #fff;
    margin: 0 0.2vh;
    border-radius: 50%;
}
.eyes .eye::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(0%, -20%); /* looking down */
    /* transform: translate(-30%, -40%); */
    width: 1.3vh;
    height: 1.3vh;
    background: #000;
    border-radius: 50%;
}
.eyes .eye::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-30%, -70%);
    width: 1.1vh;
    height: 1.1vh;
    background: #ffffff;
    border-radius: 50%;
}
/* skew */

.rectangle {
    width: 80px;
    height: 80px;
    background-color: skyblue; 
}

.rotate-translate {
    background-color: pink;
    transform: rotate(-28deg) translateX(280px) translateY(-10px)
  }
  

/* arrow buttons */
.arrow{
  position:relative;
  width:6vw;
  height: 12vh;
  cursor:pointer;
  transition:0.5s;
  overflow:hidden;
}

.arrow:before{
  position:relative;
  display:block;
  content:"";
  color:rgb(143, 56, 56);
  width: 10vw;
  height: 10vh;
  margin: auto auto;
  border-top:solid 4vh;
  border-left:solid 2vw;
  top:50%;
  left:2px;
  transform-origin:0% 0%;
  transform:rotatez(-45deg);
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.459));
}

.arrow:hover:before{
    /*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
        color: yellow;  
    }
/* table sizes */

main.table {
    width: 20vw;
    height: 40vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

/* player table */
.player-table {
    width: 20vw;
    height: 30vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

/* transaction table */
.trans-table {
    width: 20vw;
    height: 20vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

/* owned property table */
.owned-table {
    width: 20vw;
    height: 40vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

/* logs table */
.logs-table {
    width: 20vw;
    height: 53vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}


.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .9rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem); /* inside table height */
    background-color: #fffb;

    margin: 1.5rem auto;
    border-radius: .63rem;

    overflow: auto;
    overflow: overlay;
    align-items: center;
    text-align: center;

}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}